In [4]:
import pandas as pd
import pyodbc as sql

In [5]:
conn = sql.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=NT-ACEROSOL;"
                      "Database=steel;"
                      "Trusted_Connection=yes;")

In [6]:
cur = conn.cursor()

In [7]:
query = "SELECT TOP 100 * FROM user_account"

In [17]:
cur.execute(query)

In [21]:
df = pd.read_sql(query, conn)